.loading {
color: #917FB3
}
 
.drinkImg {
display: block;
width: 250px;
height: 250px;
border-radius: 5px;
transition: all 0.3s ease;
justify-content: center;

&:hover {
    transform: scale(0.98);
}
}

@media (min-width: 375px) {
    .drinkImg  {
      width: 300px;
      height: 300px;
    }
  }
  
  @media (min-width: 600px) {
    .drinkImg  {
      width: 400px;
      height: 400px;
    }
  }

.cocktailName {
  color: #917FB3;
  font-size: 26px;
  margin: 15px auto;
}

.googleBtn {
  background-color: #2A2F4F;
  color: white;
  margin-top: 0;
  margin-bottom: 10px;
  border: none;
  padding: 15px;
  cursor: pointer;
  line-height: 0.5;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
  transition: box-shadow 400ms ease-in-out, color 300ms ease-in-out;
  align-items: center;
}

.googleBtn:focus{
  color: white;
  outline: 0;
}

.googleBtn:hover {
  box-shadow: 0 0 40px 40px #917FB3 inset;
  color: white;
  border: none;
}