.weatherbox {
    align-items: center;
    text-align: center;
    margin: 10px;
    width: 500px;
    height: 680px;
    border: solid 1px black;
}

.drinkImg {
    width: 300px;
    height: 300px;
}

.toDetailPagebtn {
    margin-top: 20px;
}