.searchAddress {
  display: flex;
  justify-content: flex-end;
  justify-items: center;

  button {
    display: flex;
    justify-content: center;

    position: relative;
    border: none;
    display: inline-block;
    padding: 13px 27px;
    border-radius: 15px;
    font-family: 'paybooc-Light', sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    transition: 0.25s;

    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    color: white;

    background-size: 400% 400%;
    animation: gradient1 5s ease infinite;

    &:hover {
      letter-spacing: 1px;
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1024px) {
  .searchAddress {
    button {
      padding: 11px 23px;
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 768px) {
  .searchAddress {
    button {
      padding: 9px 17px;
      font-size: 14px;
    }
  }
}

@keyframes gradient1 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
