.weather {
}

.title {
  display: flex;
  justify-content: center;
}

.img {
  display: flex;
  justify-content: center;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  height: 200px;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      margin: 0;
    }
  }
}
