.weather {
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.icon {
  display: flex;
  align-items: center;
  width: 55px;
  height: 55px;
}

.img {
  display: flex;
  justify-content: center;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding-bottom: 80px;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      margin: 2px;
      font-weight: bold;
    }
  }
}

.img {
  display: flex;
  justify-content: center;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  height: 200px;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      margin: 0;
    }
  }
}
