// .mainContents {
//   display: flex;
//   justify-content: center;
//   align-items: flex-start;
//   flex-direction: column;
//   margin-right: auto;
//   padding: 150px 120px 150px 0;
// }

.mainContents {
  display: grid;
  grid-template-columns: auto; /* 1개의 컬럼 설정 */
  grid-template-rows: auto; /* 필요한 만큼의 로우 설정 */
  justify-items: flex-start;
  align-items: flex-start;
  padding: 150px 120px 150px 0;
}

.alcoholicFilterContainer {
  display: flex;
  position: relative;
  left: 33%;
  margin: 8% 0 1% 0;

  button {
    background: none;
    border: none;
    padding: 0;
    font-size: 20px;
    color: inherit;
    cursor: pointer;
  }

  button + button {
    margin-left: 20px;
  }
}

.contentsContainer {
  display: flex;
  position: relative;
  align-items: flex-start;
}

.activeAlcoholicFilter {
  text-decoration: underline;
  text-underline-offset: 0.3em;
  font-weight: 550;
  color: #e5beec !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
