.titleBox {
  display: flex;
  position: absolute;
  justify-content: center;
  margin-top: 3%;
  width: 500px;

  .title {
    text-decoration: none;
    color: #ecf2ff;
    font-size: 32px;

    &:hover {
      cursor: pointer;
    }
  }
}
