.searchContainer {
  // display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  align-items: center;
  justify-content: center;
}

.searchBar {
  display: flex;
  margin-top: 20px;
}

#inputBar {
  display: flex;
  flex-grow: 1;
  border-radius: 24px;
  border: 1px solid #c6cfe0;
  margin: 0 auto;
  padding: 10px 10px;

  min-height: 15px;
  width: 300px;
  //  width: auto;
  max-width: 500px;
  background: #fff;

  z-index: 1;
}

#inputBar ::placeholder {
  font: 15px #ecf2ff;
}

#searchButton {
  z-index: 2;
}
