.paginationBar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  bottom: 0px;
  z-index: 1;
  padding: 20px 10px;

  button {
    display: flex;
    justify-content: center;

    position: relative;
    border: none;
    display: inline-block;
    padding: 13px 27px;
    border-radius: 15px;
    font-family: 'paybooc-Light', sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    transition: 0.25s;

    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    color: white;

    background-size: 400% 400%;
    animation: gradient1 5s ease infinite;

    &:hover {
      letter-spacing: 2px;
      transform: scale(1.2);
      cursor: pointer;
    }
  }
}

.link {
  color: #ecf2ff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;

  display: flex;
  justify-content: center;

  &:hover {
    letter-spacing: 2px;
    transform: scale(1.1);
    cursor: pointer;
  }
}

.activeLink {
  position: relative;
  font-weight: bold;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    z-index: -1;

    display: flex;
    justify-content: center;
    border: none;
    display: inline-block;
    padding: 15px 15px;
    border-radius: 19px;
    font-family: 'paybooc-Light', sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;

    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    color: white;

    background-size: 400% 400%;
    animation: gradient1 5s ease infinite;
  }
}

@media screen and (max-width: 1024px) {
  .paginationBar {
    button {
      padding: 11px 23px;
    }
  }

  .activeLink::before {
    width: 7px;
    height: 7px;
  }
}

@media screen and (max-width: 768px) {
  .paginationBar {
    button {
      padding: 9px 17px;
    }
  }
  .activeLink::before {
    width: 4px;
    height: 4px;
  }
}

@keyframes gradient1 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
