.section {
  display: flex;
  flex-direction: column;
}

.desc {
  margin-bottom: 10px;
}

.link_div {
  display: flex;
  justify-content: center;
}

.link {
  all: unset;
  width: 100px;
  padding: 5px 10px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    transition: all 0.5s;
  }
}

@media (min-width: 768px) {
  .section {
    justify-content: space-between;
    text-align: center;
    width: 50%;
  }
}
