.section {
  display: flex;
  flex-direction: column;
}

.image_div {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.image {
  width: 300px;
  height: 300px;
}

@media (min-width: 768px) {
  .section {
    flex-direction: row;
  }

  .image_div {
    margin-right: 20px;
    width: 50%;
  }

  .image {
    width: 300px;
    height: 300px;
  }
}
