@mixin button-common {
  all: unset;
  background-color: #2a2f4f;
  color: white;
  border: none;
  margin: 10px;
  padding: 15px;
  cursor: pointer;
  line-height: 0.5;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
  transition: box-shadow 400ms ease-in-out, color 300ms ease-in-out;
  align-items: center;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 40px 40px #917fb3 inset;
    color: white;
    border: none;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

@mixin option-common {
  .filedset {
    margin-bottom: 10px;
  }

  .option_div {
    display: flex;
    flex-wrap: wrap;
  }

  .radio_body {
    margin-right: 10px;
    line-height: 1.5em;
    text-align: center;
    display: flex;
    align-items: center;
  }

  [type="radio"] {
    margin: 0;
    margin-right: 5px;
    appearance: none;
    border: 2px solid #c8b6e2;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
  }

  [type="radio"]:checked {
    border: 0.4em solid #a8a4ce;
  }

  [type="radio"]:hover {
    box-shadow: 0 0 0 2px #a8a4ce;
    cursor: pointer;
  }
}
