@import "./mixins.scss";

.btn_div {
  display: flex;
  justify-content: center;

  button {
    @include button-common;
  }
}

@media (min-width: 600px) {
  .option_form {
    padding: 0 40px;
  }
}
