.image_div {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px 5px #c8b6e2;
  width: 250px;
  height: 250px;
}

.image {
  width: 250px;
  height: 250px;
}

@media (min-width: 375px) {
  .image_div {
    width: 300px;
    height: 300px;
  }

  .image {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 600px) {
  .image_div {
    width: 400px;
    height: 400px;
  }

  .image {
    width: 400px;
    height: 400px;
  }
}
