.pagecard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 320px;
  padding: 10px;
  border: 1px solid #a8a4ce;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #7a86b6;
  background-color: white;
}

@media (min-width: 425px) {
  .pagecard {
    width: 380px;
  }
}

@media (min-width: 600px) {
  .pagecard {
    width: 500px;
  }
}

@media (min-width: 800px) {
  .pagecard {
    width: 700px;
  }
}
