.paginationBar {
  margin: 30px;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  text-decoration: none;
}

.paginationBar > button {
  display: flex;
  justify-content: center;

  position: relative;
  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: 'paybooc-Light', sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;

  background: linear-gradient(-45deg, #33ccff 0%, #ff99cc 100%);
  color: white;

  background-size: 400% 400%;
  animation: gradient1 5s ease infinite;
}

@keyframes gradient1 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.currentPageNumber {
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px; /* Adjust the size of the circle as needed */
  height: 40px; /* Adjust the size of the circle as needed */
  background-color: pink;
  border-radius: 50%;
}

.pageNumber {
  color: white;
}
