.layout {
  overflow: hidden;
}

.main {
  color: #ecf2ff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 50px;
  background-color: #2a2f4f;
  margin-top: 45px;
}
